body {
    background-color: rgb(245, 245, 245) !important;
    overflow: hidden;
}

/* Top nav */

.top-nav {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;

    box-shadow: 1px 1px 3px rgb(216, 216, 216);
}

.logo {
    height: 30px;
}

.top-nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    width: 600px;
    position: absolute;
    top: 0;
    right: 20px;
    padding-left: 400px;
}

.top-nav ul li {
    list-style: none;
    margin: 0 5px;
}

.top-nav ul img {
    height: 30px;
    border-radius: 50%;
}

.message-dropdown {
    cursor: pointer;
    color: white;
}

.message-active {
    color: #007bff;
}

.message-dropdown-container {
    background-color: #212529;
    height: 400px;
    position: absolute;
    top: 60px;
    right: 150px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    padding: 20px;

    overflow-y: scroll;

    display: none;
    box-shadow: 1px 1px 3px rgb(216, 216, 216);

    z-index: 2;
}

.message-dropdown-container a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
}

.message-dropdown-container hr {
    color: white;
}

.message-dropdown-container a .from {
    height: 50px;
    display: flex;
    align-items: center;
}

.message-dropdown-container .from img {
    height: 25px;
}

.message-dropdown-container .from h3 {
    font-size: 14px;
    margin: 20px;
}

.message-dropdown-container a p {
    font-size: 12px;
    height: 40px;
    overflow-y: scroll;
    padding-left: 5px;
}

.message-dropdown-container article {
    font-size: 10px;
    padding-left: 5px;
}

/* ------ */

.notification-dropdown {
    cursor: pointer;
    position: relative;
    color: white;
}

.notification-active {
    color: #007bff;
}

.badge {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 9px !important;
}

.notification-dropdown-container {
    background-color: #212529;
    position: absolute;
    top: 60px;
    right: 80px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    padding: 20px;

    display: none;
    box-shadow: 1px 1px 3px rgb(216, 216, 216);

    z-index: 2;
}

.notification-dropdown-container hr {
    margin: 5px 0;
    color: white;
}

.notification-dropdown-container a {
    color: white;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 12px;
}

.avatar-dropdown {
    cursor: pointer;

    border: 2px solid #007bff;
    border-radius: 50%;

    border-color: #007bff00;
}

.avatar-active {
    border-color: #007bff;
}

.avatar-dropdown-container {
    background-color: #212529;
    position: absolute;
    top: 60px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    padding: 20px;

    display: none;
    box-shadow: 1px 1px 3px rgb(216, 216, 216);

    z-index: 2;
}

.avatar-dropdown-container a {
    color: white;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    text-decoration: none;
}

.avatar-dropdown-container hr {
    color: white;
}

/* side nav */

.sidenav {
    height: 92%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 61px;
    left: 0;
    background-color: white;
    overflow-x: hidden;

    padding: 20px 10px;

    box-shadow: 1px 1px 3px rgb(216, 216, 216);

    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

.dropdown-btn,
.sidenav a {
    padding: 13px 0 13px 20px;
    text-decoration: none;
    font-size: 17px;
    color: #424242;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;

    border-radius: 5px;
}

.dropdown-btn:hover,
.sidenav a:hover {
    color: #5a5a5a;
}

.sidenav hr {
    background-color: rgb(165, 165, 165);
    border: none;
    height: 1px;
    margin: 2px 0;
}

.active {
    background-color: #007bff;
    color: white;
}

.active:hover {
    color: white !important;
}

.nav-active {
    background-color: #007bff !important;
    color: white !important;
}

.nav-active:hover {
    color: white !important;
}

.dropdown-container {
    display: none;
    padding-left: 8px;
    margin-top: 5px;
}

.dropdown-container a {
    font-size: 15px !important;
}

.fa-caret-down {
    float: right;
    padding-right: 20px;
    padding-top: 3px;
}

i {
    padding-right: 15px;
}

/* Main content */
.main {
    margin-left: 250px;
    /* Same as the width of the sidenav */
    font-size: 20px;
    /* Increased text to enable scrolling */
    padding: 10px;
}
