table {
    width: 700px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 20vh;
    box-shadow: 1px 1px 5px rgb(145, 145, 145);
    border-collapse: collapse;
}

table img {
    height: 310px;
}

table tr td {
    font-size: 20px;
    font-family: 'poppins', sans-serif;
    letter-spacing: 1px;

    border: 1px solid rgb(241, 241, 241);
}

.bl {
    padding-left: 30px;
}

.title td{
    font-size: 10px;
    text-align: center;
}

.ct td{
    text-align: center;
    padding: 0 !important;
}