.search-bar {
    height: 50px;
    display: flex;
    justify-content: center;
}

.search-bar input {
    width: 70%;

    border: 1px solid rgb(209, 209, 209);
    background-color: white;
    border-right: none;
    outline: none;
    padding: 5px;
    padding-left: 10px;
    font-size: 17px;

    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.search-bar button {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #007bff;
    background-color: #007bff;
    border-left: none;
    padding-left: 20px;

    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.search-bar i {
    font-size: 20px;
    color: white !important;
}

.adding-form { 
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 5px rgb(206, 206, 206);
    border-radius: 5px;
}

.adding-table-label td{
    font-size: 10px;
    text-align: center !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.233);
}

.delivery-parent-container {
    max-height: 65vh;
    overflow-y: scroll;
    margin-top: 5px;
    padding-bottom: 3px;
}

.delivery-container {
    background-color: white;    
    box-shadow: 1px 1px 5px rgb(170, 170, 170);
}

.delivery-container .label td{
    font-size: 10px;
    text-align: center !important;
}

.delivery-container tr td{
    padding: 10px;
    text-align: center;
}

.action a {
    font-size: 15px;
    color: black;
}

.details {
    font-size: 15px;
}