form {
    position: relative;
    background-color: white;
    box-shadow: 1px 1px 10px black;
}

.close {
    font-size: 30px;
    color: black;
    position: absolute;
    top: 0px;
    right: 7px;
}

.notice {
    color: red !important;
    text-decoration: none;
    position: absolute;
    top: 15px;
    left: 15px;
}

.notice span {
    margin-left: 5px;
    padding: 10px;
    font-size: 13px;

    visibility: hidden;
}

.notice:hover span {
    visibility: visible;
}